.english{
	font-family: Cambria;
}

header{
	background:url(../../mdyimg1.jpg);
}
.bb{
	background: linear-gradient(white 20%,grey 80%);
}

/*.m1{
	index : 2;
	absolute : left;
	left : 18px;
	top:97px;
	font-family : Cursive;
	font-size : 30pt;
	color:black;
	/*height : 200px;
}*/

			
			
			/* Dialog */
			#overlay {
			position:absolute;
			top:0;
			left:0;
			width: 100%;
			height:100%;
			background:#000;
			opacity:0.8;
			display:none;
			}
			
			#dialog {
			position:absolute;
			top:16%;
			left:35%;
			width:30%;
			border:4px solid #ccc;
			background:#fff;
			display: none;
			}
			
			#dialog h2{
			margin:0;
			padding:8px;
			background:#ddd;
			font-size:17px;
			}
			
			#dialog h2 span {
			display:block;
			float:right;
			padding:0 5px;
			color: #c22;
			cursor: Pointer:
			}
			
			#dialog form {
			padding:20px;
			}
			
			/*input[type=text]{
			padding:20px;
			width:90%;
			}
			
			textarea {
			padding:6px;
			font-family:Arial, Helvetica, sans-serif;
			width: 90%;
			height:140px;
			}*/
			
			input [type=submit]{
			padding: 8px 18px;
			margin-top: 10px;
			}
			
			
	